
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 202, 213);
    display: flex;
    flex-direction: column;

  }
  /*FLIP CARDS SERVICIOS*/  

  .flip_cards_container{
    justify-content: center;
    place-items: center;
    perspective: none;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 'servicio1 servicio2 servicio3'
                         'servicio4 servicio5 servicio6';
    margin: 15px 0 15px 0;
}

#servicio1 {
  grid-area: servicio1;
}
#servicio2 {
  grid-area: servicio2;
}
#servicio3 {
  grid-area: servicio3;
}
#servicio4 {
  grid-area: servicio4;
}
#servicio5 {
  grid-area: servicio5;
}
#servicio6 {
  grid-area: servicio6;
}


.flip_card{
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    margin: 5px;
  
}

.flip_card:hover {
    transform: rotateY(180deg);
}


.flip_card_front,
.flip_card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 15px;
   
}

.flip_card_back{
    transform: rotateY(180deg);
    background: white;
    transition: box-shadow 600ms;
    box-shadow: 1px 1px 30px -5px rgb(142, 59, 252);
    text-align: center;
    border-radius: 15px;
  
}

.flip_body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
    
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:rgb(142, 59, 252);
    border-radius: 20px;
}



.flip_body_card_back {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 20px;
    vertical-align: middle;
    top: 0;
    left: 0;
    font-size: 12px;
    border: none;
    color: rgb(0, 0, 0);
}

.btn_card {
  margin-top: 4px;
  background-color: black;
  color: aqua;
  border-radius: 5px;
  border-color: aqua;
  box-shadow: 3px 4px 30px rgb(84, 25, 152);
  cursor:pointer;
  
}

 /* .column {
    display: inline-flex;
    flex-wrap: wrap;
    align-items:center;
    width: 33.33%;
    float: left;
    padding: 0 20px;
    margin: auto;
  }
  
  .row {
    margin: 40px auto 40px;
    display:block;
    text-align: center;
    width: 85%;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:  rgb(23, 23, 24);
    margin: 20px auto 20px;
    border-radius: 5px;
    color:beige;
  } */
 

 /* ESTO ES EL FOOTER*/

 footer {
    position:relative;
    display: flex;
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(23, 23, 24);
  }
  
  .footer__container {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    color:rgb(243, 244, 255);
    
   
  }
  
  .newsletter__column {
    width: 35%;
    background-color:  rgb(23, 23, 24);
    text-align: center;
  }
  .rrss__column {
    width: 35%;
    background-color:  rgb(23, 23, 24);
    text-align: center;
  }
  
  .radio {
    display: inline-flex;
  }
  
  #novedades {
    margin-right: 10px;
    font-size: small;
  }
  .btn {
    display:inline-block;
    width:100%;
    border: none;
    text-align: center;
  }
  .suscribirme {
    border-radius: 5px;
    padding: 2px 3px;
    width: 100%;
    margin: 3px;
    cursor: pointer;
  }
  #email {
    background: none;
    padding: 10px 0 0 0;
  }
  
  
  .linea1 {
    border-top: 1px solid rgb(44, 55, 91);
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 30px auto 0 auto;
  }
  .linea2 {
    border-top: 1px solid rgb(44, 55, 91);
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 1px auto 0 auto;
  }
  /*ESTO ES LA NAV BAR*/
  nav {
    width: 100%;
  }
  .navbar-brand {
    padding-top: 20px;
    background-color: rgb(23, 23, 24);

  }

  .logo {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color:rgb(243, 244, 255);
    padding-bottom: 22px;
    width: 100%;
  }
  .secciones {
    display:flex;
    flex-direction: row;
    width: 100%;
    border-color: rgb(44, 55, 91);
    border-style:ridge;
    border-width: 1px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color:rgb(243, 244, 255);
    padding: 0 5%;
    
  
  }

  ul {
    
    width: 100%;
    text-align: center;
    
  }
  .navbar {
    text-align: center;
  }

  li {
    display: inline;
  }

  * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }  