* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Kit de estilos del Documento*/

$acento__color: #5D2A42;
$acento2__color: #d8dcff;
$acento3__color: #aeadf0;
$texto_fuerte: #151515;

@mixin botones ($color, $bkg_color) {
  color: $color;
  background-color: $bkg_color;
  width: auto;
  border-color: $acento__color;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;

}

/*ESTO ES LA NAV BAR*/
nav {
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    display: block;
  }
}

.navbar-brand {
  padding-top: 20px;
  background-color: $acento__color;

}

.logo {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  color: $texto_fuerte;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 100%;

}

.secciones {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-color: rgb(44, 55, 91);
  border-style: ridge;
  border-width: 1px;
}


#navbar {
  text-align: center;

  ul {

    width: 100%;

    li {
      display: inline;


      a {
        text-decoration: none;
        cursor: pointer;
        color: $acento2__color;
        padding: 0 5%;
      }
    }
  }
}

#navbar {
  background-color: #d8dcff;

}


/*BODY del home*/

body {
  font-family: 'Barlow', Helvetica, sans-serif;
  background-color: $acento3__color;
  display: flex;
  flex-direction: column;

}

.contenedor {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-image: url("../img/1805-colores-pastel.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  img {
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  /*Texto encima*/
  .texto_encima {
    padding: 2.5vw;
   @media screen and (max-width: 768px) {
     width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    color: $texto_fuerte;
    left: 5%;
    

    button {
      padding: 8px 20px;
      border-radius: 20px;
      margin-top: 20px;
      background-color: $acento__color;
      border-color: $acento3__color;
      color: $acento3__color;
      cursor: pointer;
    }
  }
}


@media (max-width: 768px) {
  
  .card-middle__index {
    margin: 20px;
  }

  .row__index {
    margin: auto;
    width: 100%;
    padding: 10px;
  }

  .column__index {
    padding: 10px;
  }

  .card__index {
    width: 33.3%;
    font-size: 2.5vw;
    height: 5rem;
  }
}


@media (max-width: 480px) {

  .card-middle__index {
    margin: 20px;
  }

  .row__index {
    margin: auto;
    width: 100%;
  }

  .column__index {
    padding: 5px;
  }

  .card__index {
    width: 33.3%;
    font-size: 2.5vw;
    height: 4rem;
  }
}

@media (min-width: 768px) {
  .card-middle__index {
    width: 50%;
    margin: auto;
  }

  .row__index {
    margin: 40px auto 40px;
    width: 50%;
  }

  .column__index {
    padding: 5px;
  }

  .card__index {
    font-size: 1.3vw;
    height: 6rem;
  }
}


/*CARDS*/

.row__index {
  display: block;
  text-align: center;

  .column__index {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    float: left;
    width: 33.33%;

    .card__index {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      background-color: $acento__color;
      margin: 20px auto 20px;
      border-radius: 15px;
      color: $acento3__color;
      width: 100%;

      .card-body {
        padding: 1rem;
      }

    }
  }
}

.card-middle__index {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: block;
  text-align: center;
  color: $acento3__color;
  margin-top: 20px;
  background-color: $acento__color;
  border-radius: 15px;

  h3 {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 35px;
    font-size: large;
  }
}

/*La agencia*/

.la__agencia {
  width: 100%;
  margin-top: 20px;

  .box {
    width: 50%;
    display: table;
    margin: 0 auto;

    #title__agencia {
      display: table;
      margin: 0 auto;
      text-align: center;
      color: $acento2__color;
      font-family: 'Barlow', sans-serif;
      font-size: 40px;
    }

    #p__agencia {
      text-align: center;
      color: $acento2__color;
      font-size: medium;
    }
  }
}


.btn__servicios {
  padding: 10px;
  margin: 0 auto;
  border: solid 2px;
  border-radius: 20px;
  border-color: $acento2__color;
  background-color: $acento__color;
  color: $acento3__color;
  cursor: pointer;
  display: table;
  text-decoration: none;
}

/*FLIP CARDS SERVICIOS*/

.flip_cards_container {
  justify-content: center;
  place-items: center;
  perspective: none;
    @media screen and (max-width: 768px) {
      display: block;
     }
     @media screen and (min-width: 768px) {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 50% 50%;
      grid-template-areas: 'servicio1 servicio2 servicio3'
        'servicio4 servicio5 servicio6';
     }
  margin: 15px 0 15px 0;

  .flip_card {
    @media screen and (max-width: 768px) {
      width: 90%;
      height: 200px;
      margin: 0px auto 20px auto;
     }
     @media screen and (min-width: 768px) {
      width: 200px;
      height: 200px;
      margin: 5px;
     }
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;    

  }

  .flip_card:hover {
    transform: rotateY(180deg);
  }

}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $acento2__color;
  border-radius: 20px;
}

#servicio1 {
  grid-area: servicio1;
}

#servicio2 {
  grid-area: servicio2;
}

#servicio3 {
  grid-area: servicio3;
}

#servicio4 {
  grid-area: servicio4;
}

#servicio5 {
  grid-area: servicio5;
}

#servicio6 {
  grid-area: servicio6;
}


.flip_card_front,
.flip_card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 15px;

}

.flip_card_back {
  transform: rotateY(180deg);
  background: $acento2__color;
  transition: box-shadow 600ms;
  box-shadow: 1px 1px 30px -5px $acento2__color;
  text-align: center;
  border-radius: 15px;
  
}

.flip_body_card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $acento3__color;
  transform: translateZ(60px);

  h3 {
    font-family: 'Barlow', sans-serif;
    font-size: large;
  }
}

.flip_body_card_back {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  vertical-align: middle;
  top: 0;
  left: 0;
  border: none;
  padding: 10px;
  color: $texto_fuerte;
  @media screen and (max-width: 768px) {
    font-size: 16px;
   }
   @media screen and (min-width: 768px) {
    font-size: 11px;
   }

}



/*formulario*/


.grilla {
  color: white;
  display: grid;
  min-width: 320px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 2.5fr;
  grid-template-areas: 'title title'
    'a_1 a_2'
    'a_3 a_3'
    'a_5 a_5';

  .nombre {
    width: 100%;
    height: 100%;
    grid-area: a_1;
    text-align: left;
  }

  .apellido {
    width: 100%;
    height: 100%;
    grid-area: a_2;
    text-align: left;
    padding-left: 5%;
  }

  .email {
    width: 100%;
    height: 100%;
    grid-area: a_3;
    text-align: left;
  }

  .text {

    grid-area: a_5;
    text-align: left;
    padding: 0px;
    margin-top: 20px;
  }

  .boton_form {
    background-color: $acento__color;
    border-color: $acento__color;
    border-width: 1px;
    border-radius: 22px;
    color: $acento3__color;
    padding: 12px;
    margin: 5px;
    cursor: pointer;
  }


  #form {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  #form2 {
    width: 100%;
    height: 50%;

  }

  .main_container {
    grid-area: title;
  }
}



/*BLOG*/

.blog_conteiner {
  display: grid;
  width: 100%;
  height: auto;
  min-width: 360px;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 'blog1 search'
    'blog2 empty';
    
  .section_1 {
  grid-area: blog1;
  padding: 22px;
  text-align: justify;

  img {
    width: 100%;
    height: auto;
  }

}

.section_2 {
  grid-area: blog2;
  padding: 22px;
  text-align: justify;

  img {
    width: 100%;
    height: auto;
  }
}

.search_bar {
  grid-area: search;
  padding: 0;
  display: inline-block;
}

.input_search {
  width: 65%;
  background-color: $acento2__color;
  border: none;
}

.btn_search_blog {
  @include botones($texto_fuerte, $acento3__color);

}

}


/* ESTO ES EL FOOTER*/

footer {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding: 50px 0px;
  background-color: rgb(23, 23, 24);
}

.footer__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(243, 244, 255);


}

.newsletter__column {
  width: 35%;
  background-color: rgb(23, 23, 24);
  text-align: center;
}

.rrss__column {
  width: 35%;
  background-color: rgb(23, 23, 24);
  text-align: center;
}

.fs-2 {
  margin: 10px 10px auto;
}

@media (max-width: 480) {
  .grilla {
    width: 90%;
    margin: 20px auto;
  }

  .main_container {
    font-size: 5vw;
  }
}

@media (max-width: 768px) {
  .newsletter__column {
    width: 100%;
  }

  .rrss__column {
    width: 100%;
  }

  .grilla {
    width: 80%;
    margin: 20px auto;
  }

  .main_container {
    font-size: 4vw;
  }

  .main_container h2 {
    font-size: 5vw;
  }
}

@media (min-width: 768px) {
  .newsletter__column {
    width: 35%;
  }

  .rrss__column {
    width: 35%;
  }

  .rrss__icons {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .grilla {
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .main_container {
    font-size: 2vw;
  }

  .main_container h2 {
    font-size: 3vw;
  }
}

.radio {
  display: inline-flex;
}

#novedades {
  margin-right: 10px;
  font-size: small;
}

.btn {
  display: inline-block;
  width: 100%;
  border: none;
  text-align: center;
}

.suscribirme {
  border-radius: 5px;
  padding: 2px 3px;
  width: 100%;
  margin: 3px;
  cursor: pointer;
}

#email {
  background: none;
  padding: 10px 0 0 0;
}


.linea1 {
  border-top: 1px solid rgb(44, 55, 91);
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 30px auto 0 auto;
}

.linea2 {
  border-top: 1px solid rgb(44, 55, 91);
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 1px auto 0 auto;
}